/* Footer */
footer {
    margin: 2% 0;
    padding: 0;
    text-align: center;
}

.link-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link-container div {
    display: flex;
    margin: 0 10px;
}

.link-container div a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, font-size 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
    .link-container div a:hover {
        color: #007bff;
        font-size: 1.2rem;
    }
}

.link-container div a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 3px;
    transition: transform 0.3s ease;
}

.link-container div a:hover img {
    transform: scale(1.2);
}
